body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color:#2D3047;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 200px;
}
header {
    position: sticky;
    background-color: white;
    top: 0;
    height: fit-content;
}
.top_blue_strip {
    height: 5px; /* Высота полоски */
    background-color: #2D3047; /* Синий цвет */
}
.bottom_blue_strip {
    height: 3px; /* Высота полоски */
    background-color: #93B7BE;
    opacity: 50%; /* Синий цвет */
}
.navigation {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
.my_name {
    font-size: 32px;
    flex-grow: 0;
    margin-left: 5%;
    text-align: center;
}
.sections {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;    
    flex-grow: 1;
    height: fit-content;
}
div.work_exp {
    display: grid;
    grid-template-columns: 20% 50%;
    gap: 10px;
    justify-content: center;
    column-gap: 40px;
    padding-top: 100px;
    padding-bottom: 60px;
}
div.date {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}
h1 {
    font-size: 36px;
    font-style: normal;
    color: #2D3047;
}
h2 {
    font-size: 24px;
    font-style: normal;
}
.company_logo {
    align-self: center;
    height: auto;
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
li {
    padding-bottom: 20px;
}
.footer {
    position: fixed;
    height: auto;
    bottom: 0px;
    left: 0;
    width:100%;
    background-color: white;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
}
.yellow_line {
    height: 5px;
    width: 100%;
    background-color: #E0CA3C;
    left: 0;
}
.page {
    box-sizing: border-box;
    border: 1px;
}
.active {
    border-bottom: #E0CA3C solid 1px;
}
.page:hover {
    border-bottom: #E0CA3C solid 3px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    height: auto;
}
.edu_info{
    flex:2;
}
.timeline {
    display: flex;
    width: 100%;
}
.timeline-item1 {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-left: 5px solid #93B7BE; /* Добавляет стиль для выделения */
    align-content: center;
}
.timeline-item2 {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-left: 5px solid #93B7BE; /* Добавляет стиль для выделения */
    align-content: center;
}
.body_edu {
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.education {
    display: flex;
    flex-direction: row;
    width:100%;
}
.university_name {
    flex:0;
    align-self: left;
    text-align: left;
}
.program_name {
    flex:1;
    align-self: center;
    text-align: center;
}
.image_edu {
    display: flex;
    justify-content: left;
    width:100%;
    margin: 10px 0;
}
.image_edu img {
    width: 100%;
    height: auto;
    display: block
}
.edu_info {
    width: 100%; /* Занимает всю ширину */
}
.empty {
    height: 100px;
}
.skills_info {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}
.skill_block {
    justify-content: space-evenly;
    align-items: center;
}
.skills_top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: max-content;
    height: 30%;
}
.skill_icon {
    flex: 1;
    max-width: 15%;
}
.skill_icon img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.skills_text {
    flex:5;
}
.about_me_info {
    max-width: 75%; /* Например */
    margin: 5% auto; /* auto по бокам центрирует блок */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about_me_image {
    flex:2;
}
.about_me_image img {
    width:100%;
    height: auto;
    align-self: center;
}
.about_me_text {
    margin:5%;
    flex:4;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 8px 16px;
    background-color: #E0CA3C;
    color: white;
    border: none;
    cursor: pointer;
}
button {
    vertical-align: middle;
    width:fit-content;
    height:fit-content;
    background-color: transparent;
    border-radius: 0;
    border: #93B7BE 0.5px solid;
    color:#2D3047;
    font-size: 16px;
    transition: hover 0.5s;
    cursor: pointer;
}
button:hover {
    border: #E0CA3C 0.5px solid;
}
button:active {
    background-color: #E0CA3C;
    color: white;
}
#close_contacts {
    position: fixed;
    right: 2%;
}
#open_contacts {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
}
